{% extends "learning_logs/base.html" %}

{% block header %}
<div class="jumbotron">
    <h1>Acompanhe seu aprendizado.</h1>
</div>
{% endblock header %}

{% block content %}

{% if user.is_authenticated %}

<h2>sempre que voce aprender algo novo sobre um topico,
    faca uma entrada resumindo oque voce aprendeu
</h2>

{% else %}

<h2><a href="{% url 'register' %}">Crie uma conta</a> para utilizar o Learning log,
    ou faça login se já tiver uma conta.</h2>

    <h2>sempre que voce aprender algo novo sobre um topico,
    faca uma entrada resumindo oque voce aprendeu
</h2>
{% endif %}

{% endblock content %}